In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
xls = pd.ExcelFile('ProblemCData.xlsx')
energy_data = pd.read_excel(xls, 'seseds')
variables = pd.read_excel(xls, 'msncodes')

In [10]:
energy_data.head()

     MSN StateCode  Year  Data
0  ABICB        AZ  1960   0.0
1  ABICB        AZ  1961   0.0
2  ABICB        AZ  1962   0.0
3  ABICB        AZ  1963   0.0
4  ABICB        AZ  1964   0.0

In [11]:
variables.head()

,MSN,Description,Unit,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,ABICB,Aviation gasoline blending components consumed...,Billion Btu,NaN,NaN,NaN,NaN
1,ABICP,Aviation gasoline blending components consumed...,Thousand barrels,NaN,NaN,NaN,NaN
2,ARICB,Asphalt and road oil consumed by the industria...,Billion Btu,NaN,NaN,NaN,NaN
3,ARICD,Asphalt and road oil price in the industrial s...,Dollars per million Btu,NaN,NaN,NaN,NaN
4,ARICP,Asphalt and road oil consumed by the industria...,Thousand barrels,NaN,NaN,NaN,NaN

In [6]:
energy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105744 entries, 0 to 105743
Data columns (total 4 columns):
MSN          105744 non-null object
StateCode    105744 non-null object
Year         105744 non-null int64
Data         105744 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.2+ MB

In [12]:
variable_columns = energy_data['MSN'].unique()
variable_columns[:5]

array(['ABICB', 'ABICP', 'ARICB', 'ARICD', 'ARICP'], dtype=object)

In [13]:
energy_data['StateCode'].unique()

array(['AZ', 'CA', 'NM', 'TX'], dtype=object)

In [16]:
AZ_data = energy_data[energy_data['StateCode'] == 'AZ']
CA_data = energy_data[energy_data['StateCode'] == 'CA']
NM_data = energy_data[energy_data['StateCode'] == 'NM']
TX_data = energy_data[energy_data['StateCode'] == 'TX']

In [26]:
data = {}
data['AZ'] = AZ_data.pivot(index='Year', columns='MSN', values='Data')
data['TX'] = TX_data.pivot(index='Year', columns='MSN', values='Data')
data['CA'] = CA_data.pivot(index='Year', columns='MSN', values='Data')
data['NM'] = NM_data.pivot(index='Year', columns='MSN', values='Data')
data['AZ']

MSN,ABICB,ABICP,ARICB,ARICD,ARICP,ARICV,ARTCB,ARTCD,ARTCP,ARTCV,...,WWTXB,WWTXD,WWTXV,WXICB,WXICD,WXICP,WXICV,WYEGB,WYEGP,WYTCB
Year,,,,,,,,,,,,,,,,,,,,,
1960,0.00000,0.00000,5726.26021,NaN,862.90841,NaN,5726.26021,NaN,862.90841,NaN,...,3819.24697,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1961,0.00000,0.00000,6274.82747,NaN,945.57376,NaN,6274.82747,NaN,945.57376,NaN,...,3715.21210,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1962,0.00000,0.00000,5741.44510,NaN,865.19667,NaN,5741.44510,NaN,865.19667,NaN,...,3628.19694,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1963,0.00000,0.00000,8193.88866,NaN,1234.76321,NaN,8193.88866,NaN,1234.76321,NaN,...,3937.01824,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1964,0.00000,0.00000,7749.17493,NaN,1167.74788,NaN,7749.17493,NaN,1167.74788,NaN,...,4057.80989,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1965,0.00000,0.00000,7369.23613,NaN,1110.49369,NaN,7369.23613,NaN,1110.49369,NaN,...,3695.21696,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1966,0.00000,0.00000,12551.17339,NaN,1891.37634,NaN,12551.17339,NaN,1891.37634,NaN,...,3679.36818,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1967,0.00000,0.00000,13390.92356,NaN,2017.92097,NaN,13390.92356,NaN,2017.92097,NaN,...,4180.13105,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1968,0.00000,0.00000,15229.11009,NaN,2294.92316,NaN,15229.11009,NaN,2294.92316,NaN,...,4147.20373,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1969,0.00000,0.00000,18102.82252,NaN,2727.97205,NaN,18102.82252,NaN,2727.97205,NaN,...,4389.12410,NaN,NaN,0.00000,NaN,0.00000,NaN,0.0000,0.000,0.0000
1970,0.00000,0.00000,24413.71573,0.59662,3678.98067,14.56571,24413.71573,0.59662,3678.98067,14.56571,...,4339.38040,1.048925,0.67674,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1971,0.00000,0.00000,19444.06291,0.81486,2930.08784,15.84419,19444.06291,0.81486,2930.08784,15.84419,...,4526.40288,1.115739,0.78165,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1972,0.00000,0.00000,23661.18928,0.82462,3565.58006,19.51149,23661.18928,0.82462,3565.58006,19.51149,...,4782.42417,1.161205,0.89583,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1973,0.00000,0.00000,22666.35367,0.84507,3415.66511,19.15466,22666.35367,0.84507,3415.66511,19.15466,...,4574.10469,1.207552,0.88869,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1974,0.00000,0.00000,26101.18145,1.71581,3933.27026,44.78467,26101.18145,1.71581,3933.27026,44.78467,...,4782.71253,1.416085,1.08988,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1975,0.00000,0.00000,15467.14354,1.86535,2330.79318,28.85164,15467.14354,1.86535,2330.79318,28.85164,...,5413.77876,1.444195,1.21807,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1976,0.00000,0.00000,13486.38673,1.65018,2032.30662,22.25497,13486.38673,1.65018,2032.30662,22.25497,...,5816.28547,1.494825,1.33391,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1977,0.00000,0.00000,14402.04909,1.76956,2170.29070,25.48529,14402.04909,1.76956,2170.29070,25.48529,...,6838.29550,1.583476,1.71429,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1978,0.00000,0.00000,17829.46339,1.92279,2686.77869,34.28231,17829.46339,1.92279,2686.77869,34.28231,...,7128.91807,1.613005,1.87015,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1979,0.00000,0.00000,19633.41526,2.45082,2958.62195,48.11797,19633.41526,2.45082,2958.62195,48.11797,...,8291.19153,1.926618,2.62475,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1980,0.00000,0.00000,13677.17890,3.62562,2061.05770,49.58825,13677.17890,3.62562,2061.05770,49.58825,...,17835.00581,2.173616,7.08089,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1981,1.28880,0.25531,10862.66058,4.48111,1636.92896,48.67678,10862.66058,4.48111,1636.92896,48.67678,...,21451.13133,2.614117,9.79106,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1982,1.97998,0.39223,10098.81610,4.18838,1521.82280,42.29768,10098.81610,4.18838,1521.82280,42.29768,...,21592.71134,2.611919,9.72077,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1983,0.00000,0.00000,10928.74100,4.16241,1646.88683,45.48990,10928.74100,4.16241,1646.88683,45.48990,...,23637.46993,2.521604,10.37844,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1984,0.00000,0.00000,16488.61101,4.58397,2484.72137,75.58330,16488.61101,4.58397,2484.72137,75.58330,...,25139.34211,2.597888,11.21956,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1985,0.00000,0.00000,17009.40237,4.76372,2563.20108,81.02803,17009.40237,4.76372,2563.20108,81.02803,...,25557.79475,2.554569,11.14262,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1986,0.00000,0.00000,16790.93144,4.32846,2530.27900,72.67888,16790.93144,4.32846,2530.27900,72.67888,...,24042.52306,2.104979,10.77199,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1987,0.00000,0.00000,16535.24995,3.20926,2491.74954,53.06592,16535.24995,3.20926,2491.74954,53.06592,...,17521.24706,1.868572,8.14987,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1988,0.00000,0.00000,17806.40229,3.28012,2683.30354,58.40714,17806.40229,3.28012,2683.30354,58.40714,...,18364.61939,1.882524,8.58860,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1989,0.06754,0.01338,15832.11233,2.84465,2385.79149,45.03682,15832.11233,2.84465,2385.79149,45.03682,...,15620.34064,1.682676,9.11718,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1990,0.15861,0.03142,15704.63981,2.71410,2366.58225,42.62396,15704.63981,2.71410,2366.58225,42.62396,...,13740.58609,3.258691,20.92518,0.00000,0.00000,0.00000,0.00000,0.0000,0.000,0.0000
1991,-0.05396,-0.01069,14472.48810,3.33608,2180.90538,48.28138,14472.48810,3.33608,2180.90538,48.28138,...,14585.36246,3.129618,21.71246,264.81627,16.33212,47.82667,4.32501,0.0000,0.000,0.0000
1992,0.10591,0.02098,19801.47369,2.98708,2983.94721,59.14859,19801.47369,2.98708,2983.94721,59.14859,...,15094.93557,2.921020,21.04189,280.88719,24.74614,50.72913,6.95087,0.0000,0.000,0.0000
1993,0.00000,0.00000,15446.88237,2.94784,2327.73996,45.53494,15446.88237,2.94784,2327.73996,45.53494,...,13594.36811,3.088886,19.31911,301.75864,19.09809,54.49858,5.76301,0.0000,0.000,0.0000
1994,0.00000,0.00000,17082.92414,2.96408,2574.28031,50.63515,17082.92414,2.96408,2574.28031,50.63515,...,13458.90461,2.905971,18.51457,305.97462,24.74587,55.26000,7.57161,0.0000,0.000,0.0000
1995,0.00000,0.00000,20822.50723,3.28950,3137.81001,68.49564,20822.50723,3.28950,3137.81001,68.49564,...,14379.84124,2.620266,19.77071,306.01637,23.88583,55.26754,7.30945,0.0000,0.000,0.0000
1996,0.00000,0.00000,16323.78299,3.54877,2459.88291,57.92935,16323.78299,3.54877,2459.88291,57.92935,...,12789.83596,3.096019,20.64008,354.46783,22.95455,64.01803,8.13665,0.0000,0.000,0.0000
1997,0.00000,0.00000,17944.75579,3.57196,2704.15247,64.09795,17944.75579,3.57196,2704.15247,64.09795,...,14517.49289,3.165640,23.72524,318.61371,24.61682,57.54266,7.84326,0.0000,0.000,0.0000
1998,0.00000,0.00000,26355.45472,3.56648,3971.58751,93.99620,26355.45472,3.56648,3971.58751,93.99620,...,10834.30734,3.703956,16.35419,308.61167,20.10797,55.73626,6.20555,0.0000,0.000,0.0000
1999,0.00000,0.00000,25311.89647,3.19221,3814.33039,80.80089,25311.89647,3.19221,3814.33039,80.80089,...,11450.09660,3.779248,17.66147,272.67687,20.53907,49.24632,5.60053,0.0000,0.000,0.0000
2000,0.00000,0.00000,22751.66257,3.16836,3428.52058,72.08546,22751.66257,3.16836,3428.52058,72.08546,...,12150.50642,5.677615,28.31348,240.97683,21.32687,43.52119,5.13928,0.0000,0.000,0.0000
2001,0.00000,0.00000,17038.81810,3.45903,2567.63383,58.93778,17038.81810,3.45903,2567.63383,58.93778,...,8025.07422,5.180667,16.18389,206.51299,19.25512,37.29691,3.97643,0.0000,0.000,0.0000
2002,0.00000,0.00000,23430.92844,3.65001,3530.88132,85.52312,23430.92844,3.65001,3530.88132,85.52312,...,7771.47458,4.773443,15.03154,182.81895,16.53223,33.01769,3.02240,0.0000,0.000,0.0000
2003,0.00000,0.00000,23016.83069,4.01122,3468.47961,92.32557,23016.83069,4.01122,3468.47961,92.32557,...,8123.99594,5.722782,18.85896,176.39979,15.76292,31.85837,2.78058,0.0000,0.000,0.0000
2004,0.00000,0.00000,31933.97036,4.55888,4812.23182,145.58314,31933.97036,4.55888,4812.23182,145.58314,...,8246.10071,6.518771,21.68200,174.79501,17.35119,31.56854,3.03290,0.0000,0.000,0.0000
2005,0.00000,0.00000,30780.24887,4.81354,4638.37385,148.16196,30780.24887,4.81354,4638.37385,148.16196,...,10731.63124,8.661479,37.99374,178.25630,18.24895,32.19366,3.25299,0.0000,0.000,0.0000
2006,0.00000,0.00000,27372.74708,5.18756,4124.88654,141.99777,27372.74708,5.18756,4124.88654,141.99777,...,10109.70403,9.843319,39.94384,208.55930,23.88228,37.66648,4.98087,0.0000,0.000,0.0000
2007,0.00000,0.00000,27034.39303,5.48363,4073.89889,148.24661,27034.39303,5.48363,4073.89889,148.24661,...,11066.15794,10.808729,48.00845,174.59446,26.70787,31.53232,4.66305,0.0000,0.000,0.0000
2008,0.00000,0.00000,23059.23241,5.64993,3474.86926,130.28305,23059.23241,5.64993,3474.86926,130.28305,...,11510.53166,13.453779,62.29150,152.68732,33.63735,27.57582,5.13600,0.0000,0.000,0.0000
2009,0.00000,0.00000,19894.53622,5.86757,2997.97110,116.73258,19894.53622,5.86757,2997.97110,116.73258,...,11122.78943,10.039168,44.67932,97.47783,24.35257,17.60481,2.37384,288.3592,29.545,288.3592

In [15]:
AZ_data_reformatted = pd.DataFrame(columns = variable_columns)
CA_data_reformatted = pd.DataFrame(columns = variable_columns)
NM_data_reformatted = pd.DataFrame(columns = variable_columns)
TX_data_reformatted = pd.DataFrame(columns = variable_columns)

In [19]:
for column in variable_columns:
    AZ_data_reformatted[column] = AZ_data[AZ_data['MSN'] == column]['Data']
    CA_data_reformatted[column] = CA_data[CA_data['MSN'] == column]['Data']
    NM_data_reformatted[column] = NM_data[NM_data['MSN'] == column]['Data']
    TX_data_reformatted[column] = TX_data[TX_data['MSN'] == column]['Data']

In [18]:
AZ_data_reformatted.head()

,ABICB,ABICP,ARICB,ARICD,ARICP,ARICV,ARTCB,ARTCD,ARTCP,ARTCV,...,WWTXB,WWTXD,WWTXV,WXICB,WXICD,WXICP,WXICV,WYEGB,WYEGP,WYTCB
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
AZ_data_reformatted['Year'] = AZ_data['Year'].unique()

In [21]:
AZ_data_reformatted.head()

,ABICB,ABICP,ARICB,ARICD,ARICP,ARICV,ARTCB,ARTCD,ARTCP,ARTCV,...,WWTXD,WWTXV,WXICB,WXICD,WXICP,WXICV,WYEGB,WYEGP,WYTCB,Year
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960
1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1961
2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1962
3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963
4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964