In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
xls = pd.ExcelFile('ProblemCData.xlsx')
energy_data = pd.read_excel(xls, 'seseds')
variables = pd.read_excel(xls, 'msncodes')

In [4]:
energy_data.head(100)

      MSN StateCode  Year        Data
0   ABICB        AZ  1960     0.00000
1   ABICB        AZ  1961     0.00000
2   ABICB        AZ  1962     0.00000
3   ABICB        AZ  1963     0.00000
4   ABICB        AZ  1964     0.00000
5   ABICB        AZ  1965     0.00000
6   ABICB        AZ  1966     0.00000
7   ABICB        AZ  1967     0.00000
8   ABICB        AZ  1968     0.00000
9   ABICB        AZ  1969     0.00000
10  ABICB        AZ  1970     0.00000
11  ABICB        AZ  1971     0.00000
12  ABICB        AZ  1972     0.00000
13  ABICB        AZ  1973     0.00000
14  ABICB        AZ  1974     0.00000
15  ABICB        AZ  1975     0.00000
16  ABICB        AZ  1976     0.00000
17  ABICB        AZ  1977     0.00000
18  ABICB        AZ  1978     0.00000
19  ABICB        AZ  1979     0.00000
20  ABICB        AZ  1980     0.00000
21  ABICB        AZ  1981     1.28880
22  ABICB        AZ  1982     1.97998
23  ABICB        AZ  1983     0.00000
24  ABICB        AZ  1984     0.00000
25  ABICB        AZ  1985     0.00000
26  ABICB        AZ  1986     0.00000
27  ABICB        AZ  1987     0.00000
28  ABICB        AZ  1988     0.00000
29  ABICB        AZ  1989     0.06754
..    ...       ...   ...         ...
70  ABICB        CA  1980     0.00000
71  ABICB        CA  1981   716.80045
72  ABICB        CA  1982   765.58594
73  ABICB        CA  1983   108.28187
74  ABICB        CA  1984    12.43327
75  ABICB        CA  1985   585.59511
76  ABICB        CA  1986    80.96497
77  ABICB        CA  1987     6.83570
78  ABICB        CA  1988  -157.27751
79  ABICB        CA  1989    15.26505
80  ABICB        CA  1990    33.21458
81  ABICB        CA  1991   -10.23315
82  ABICB        CA  1992    19.79704
83  ABICB        CA  1993    18.73954
84  ABICB        CA  1994   769.11757
85  ABICB        CA  1995   642.46184
86  ABICB        CA  1996   848.41090
87  ABICB        CA  1997  1092.17099
88  ABICB        CA  1998   474.99075
89  ABICB        CA  1999   746.80056
90  ABICB        CA  2000   448.77159
91  ABICB        CA  2001   739.36885
92  ABICB        CA  2002   907.32565
93  ABICB        CA  2003   884.51889
94  ABICB        CA  2004  1251.46149
95  ABICB        CA  2005  1016.42681
96  ABICB        CA  2006    76.26973
97  ABICB        CA  2007   207.63605
98  ABICB        CA  2008    11.04740
99  ABICB        CA  2009   -87.47043

[100 rows x 4 columns]

In [5]:
variables.head(100)

,MSN,Description,Unit,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,ABICB,Aviation gasoline blending components consumed...,Billion Btu,NaN,NaN,NaN,NaN
1,ABICP,Aviation gasoline blending components consumed...,Thousand barrels,NaN,NaN,NaN,NaN
2,ARICB,Asphalt and road oil consumed by the industria...,Billion Btu,NaN,NaN,NaN,NaN
3,ARICD,Asphalt and road oil price in the industrial s...,Dollars per million Btu,NaN,NaN,NaN,NaN
4,ARICP,Asphalt and road oil consumed by the industria...,Thousand barrels,NaN,NaN,NaN,NaN
5,ARICV,Asphalt and road oil expenditures in the indus...,Million dollars,NaN,NaN,NaN,NaN
6,ARTCB,Asphalt and road oil total consumption.,Billion Btu,NaN,NaN,NaN,NaN
7,ARTCD,"Asphalt and road oil average price, all sectors.",Dollars per million Btu,NaN,NaN,NaN,NaN
8,ARTCP,Asphalt and road oil total consumption.,Thousand barrels,NaN,NaN,NaN,
9,ARTCV,Asphalt and road oil total expenditures.,Million dollars,NaN,NaN,NaN,NaN
10,ARTXB,Asphalt and road oil total end-use consumption.,Billion Btu,NaN,NaN,NaN,NaN
11,ARTXD,"Asphalt and road oil average price, all end-us...",Dollars per million Btu,NaN,NaN,NaN,NaN
12,ARTXP,Asphalt and road oil total end-use consumption.,Thousand barrels,NaN,NaN,NaN,NaN
13,ARTXV,Asphalt and road oil total end-use expenditures.,Million dollars,NaN,NaN,NaN,NaN
14,AVACB,Aviation gasoline consumed by the transportati...,Billion Btu,NaN,NaN,NaN,NaN
15,AVACD,Aviation gasoline price in the transportation ...,Dollars per million Btu,NaN,NaN,NaN,NaN
16,AVACP,Aviation gasoline consumed by the transportati...,Thousand barrels,NaN,NaN,NaN,NaN
17,AVACV,Aviation gasoline expenditures in the transpor...,Million dollars,NaN,NaN,NaN,NaN
18,AVTCB,Aviation gasoline total consumption.,Billion Btu,NaN,NaN,NaN,NaN
19,AVTCD,"Aviation gasoline average price, all sectors.",Dollars per million Btu,NaN,NaN,NaN,NaN
20,AVTCP,Aviation gasoline total consumption.,Thousand barrels,NaN,NaN,NaN,NaN
21,AVTCV,Aviation gasoline total expenditures.,Million dollars,NaN,NaN,NaN,NaN
22,AVTXB,Aviation gasoline total end-use consumption.,Billion Btu,NaN,NaN,NaN,NaN
23,AVTXD,"Aviation gasoline average price, all end-use s...",Dollars per million Btu,NaN,NaN,NaN,NaN
24,AVTXP,Aviation gasoline total end-use consumption.,Thousand barrels,NaN,NaN,NaN,NaN
25,AVTXV,Aviation gasoline total end-use expenditures.,Million dollars,NaN,NaN,NaN,NaN
26,BMTCB,Biomass total consumption,Billion Btu,NaN,NaN,NaN,NaN
27,CCEXB,Coal coke exported from the United States.,Billion Btu,NaN,NaN,NaN,NaN
28,CCEXD,"Coal coke exports average price, United States.",Dollars per million Btu,NaN,NaN,NaN,NaN
29,CCEXP,Coal coke exported from the United States.,Thousand short tons,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
70,CLPRP,Coal production.,Thousand short tons,NaN,NaN,NaN,NaN
71,CLRCB,Coal consumed by the residential sector.,Billion Btu,NaN,NaN,NaN,NaN
72,CLRCD,Coal price in the residential sector.,Dollars per million Btu,NaN,NaN,NaN,NaN
73,CLRCP,Coal consumed by the residential sector.,Thousand short tons,NaN,NaN,NaN,NaN
74,CLRCV,Coal expenditures in the residential sector.,Million dollars,NaN,NaN,NaN,NaN
75,CLRFB,Coal consumed as refinery fuel.,Billion Btu,NaN,NaN,NaN,NaN
76,CLTCB,Coal total consumption.,Billion Btu,NaN,NaN,NaN,NaN
77,CLTCD,"Coal average price, all sectors.",Dollars per million Btu,NaN,NaN,NaN,NaN
78,CLTCP,Coal total consumption.,Thousand short tons,NaN,NaN,NaN,NaN
79,CLTCV,Coal total expenditures.,Million dollars,NaN,NaN,NaN,NaN
80,CLTXB,Coal total end-use consumption.,Billion Btu,NaN,NaN,NaN,NaN
81,CLTXD,"Coal average price, all end-use sectors.",Dollars per million Btu,NaN,NaN,NaN,NaN
82,CLTXP,Coal total end-use consumption.,Thousand barrels,NaN,NaN,NaN,NaN
83,CLTXV,Coal total end-use expenditures.,Million dollars,NaN,NaN,NaN,NaN
84,CLXCD,Coal average price for all sectors excluding r...,Dollars per million Btu,NaN,NaN,NaN,NaN
85,CLXCV,Coal expenditures for all sectors excluding re...,Million dollars,NaN,NaN,NaN,NaN
86,COICB,Crude oil consumed by the industrial sector.,Billion Btu,NaN,NaN,NaN,NaN
87,COICP,Crude oil consumed by the industrial sector.,Thousand barrels,NaN,NaN,NaN,NaN
88,COPRK,Factor for converting crude oil production fro...,Million Btu per barrel,NaN,NaN,NaN,NaN
89,DFACB,Distillate fuel oil consumed by the transporta...,Billion Btu,NaN,NaN,NaN,NaN
90,DFACD,Distillate fuel oil price in the transportatio...,Dollars per million Btu,NaN,NaN,NaN,NaN
91,DFACP,Distillate fuel oil consumed by the transporta...,Thousand barrels,NaN,NaN,NaN,NaN
92,DFACV,Distillate fuel oil expenditures in the transp...,Million dollars,NaN,NaN,NaN,NaN
93,DFCCB,Distillate fuel oil consumed by the commercial...,Billion Btu,NaN,NaN,NaN,NaN
94,DFCCD,Distillate fuel oil price in the commercial se...,Dollars per million Btu,NaN,NaN,NaN,NaN
95,DFCCP,Distillate fuel oil consumed by the commercial...,Thousand barrels,NaN,NaN,NaN,NaN
96,DFCCV,Distillate fuel oil expenditures in the commer...,Million dollars,NaN,NaN,NaN,NaN
97,DFEID,Distillate fuel oil price in the electric powe...,Dollars per million Btu,NaN,NaN,NaN,NaN
98,DFEIV,Distillate fuel oil expenditures in the electr...,Million dollars,NaN,NaN,NaN,NaN
99,DFICB,Distillate fuel oil consumed by the industrial...,Billion Btu,NaN,NaN,NaN,NaN

In [8]:
energy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105744 entries, 0 to 105743
Data columns (total 4 columns):
MSN          105744 non-null object
StateCode    105744 non-null object
Year         105744 non-null int64
Data         105744 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.2+ MB

In [10]:
variable_columns = energy_data['MSN'].unique()

In [11]:
variable_columns

array(['ABICB', 'ABICP', 'ARICB', 'ARICD', 'ARICP', 'ARICV', 'ARTCB',
       'ARTCD', 'ARTCP', 'ARTCV', 'ARTXB', 'ARTXD', 'ARTXP', 'ARTXV',
       'AVACB', 'AVACD', 'AVACP', 'AVACV', 'AVTCB', 'AVTCD', 'AVTCP',
       'AVTCV', 'AVTXB', 'AVTXD', 'AVTXP', 'AVTXV', 'BMTCB', 'CLACB',
       'CLACD', 'CLACK', 'CLACP', 'CLACV', 'CLCCB', 'CLCCD', 'CLCCP',
       'CLCCV', 'CLEIB', 'CLEID', 'CLEIK', 'CLEIP', 'CLEIV', 'CLHCK',
       'CLICB', 'CLICD', 'CLICP', 'CLICV', 'CLKCB', 'CLKCD', 'CLKCK',
       'CLKCP', 'CLKCV', 'CLOCB', 'CLOCD', 'CLOCK', 'CLOCP', 'CLOCV',
       'CLOSB', 'CLPRB', 'CLPRK', 'CLPRP', 'CLRCB', 'CLRCD', 'CLRCP',
       'CLRCV', 'CLRFB', 'CLTCB', 'CLTCD', 'CLTCP', 'CLTCV', 'CLTXB',
       'CLTXD', 'CLTXP', 'CLTXV', 'CLXCD', 'CLXCV', 'COICB', 'COICP',
       'COPRK', 'DFACB', 'DFACD', 'DFACP', 'DFACV', 'DFCCB', 'DFCCD',
       'DFCCP', 'DFCCV', 'DFEID', 'DFEIV', 'DFICB', 'DFICD', 'DFICP',
       'DFICV', 'DFISB', 'DFRCB', 'DFRCD', 'DFRCP', 'DFRCV', 'DFRFB',
       'DFTCB', 'DFTCD', 'DFTCP', 'DFTCV', 'DFTXB', 'DFTXD', 'DFTXP',
       'DFTXV', 'DKEIB', 'DKEID', 'DKEIP', 'DKEIV', 'ELEXB', 'ELEXD',
       'ELEXP', 'ELEXV', 'ELIMB', 'ELIMD', 'ELIMP', 'ELIMV', 'ELISB',
       'ELNIB', 'ELNIP', 'EMACB', 'EMACV', 'EMCCB', 'EMCCV', 'EMFDB',
       'EMICB', 'EMICV', 'EMLCB', 'EMTCB', 'EMTCV', 'ENACP', 'ENCCP',
       'ENICP', 'ENPRP', 'ENTCP', 'ESACB', 'ESACD', 'ESACP', 'ESACV',
       'ESCCB', 'ESCCD', 'ESCCP', 'ESCCV', 'ESICB', 'ESICD', 'ESICP',
       'ESICV', 'ESISB', 'ESRCB', 'ESRCD', 'ESRCP', 'ESRCV', 'ESRFB',
       'ESTCB', 'ESTCD', 'ESTCP', 'ESTCV', 'ESTXB', 'ESTXD', 'ESTXP',
       'ESTXV', 'FFTCB', 'FNICB', 'FNICD', 'FNICP', 'FNICV', 'FOICB',
       'FOICD', 'FOICP', 'FOICV', 'FSICB', 'FSICD', 'FSICP', 'FSICV',
       'GDPRV', 'GDPRX', 'GECCB', 'GEEGB', 'GEEGP', 'GEICB', 'GERCB',
       'GETCB', 'GETXB', 'GETXV', 'GOCCB', 'GORCB', 'HYCCB', 'HYCCP',
       'HYEGB', 'HYEGP', 'HYICB', 'HYICP', 'HYTCB', 'HYTCP', 'HYTXB',
       'HYTXP', 'HYTXV', 'JFACB', 'JFACD', 'JFACP', 'JFACV', 'JFTCB',
       'JFTCD', 'JFTCP', 'JFTCV', 'JFTXB', 'JFTXD', 'JFTXP', 'JFTXV',
       'JKACB', 'JKACP', 'JKTCB', 'JKTCP', 'JNACB', 'JNACP', 'JNTCB',
       'JNTCP', 'KSCCB', 'KSCCD', 'KSCCP', 'KSCCV', 'KSICB', 'KSICD',
       'KSICP', 'KSICV', 'KSRCB', 'KSRCD', 'KSRCP', 'KSRCV', 'KSTCB',
       'KSTCD', 'KSTCP', 'KSTCV', 'KSTXB', 'KSTXD', 'KSTXP', 'KSTXV',
       'LGACB', 'LGACD', 'LGACP', 'LGACV', 'LGCCB', 'LGCCD', 'LGCCP',
       'LGCCV', 'LGICB', 'LGICD', 'LGICP', 'LGICV', 'LGISB', 'LGRCB',
       'LGRCD', 'LGRCP', 'LGRCV', 'LGRFB', 'LGTCB', 'LGTCD', 'LGTCP',
       'LGTCV', 'LGTXB', 'LGTXD', 'LGTXP', 'LGTXV', 'LOACB', 'LOCCB',
       'LOICB', 'LORCB', 'LOTCB', 'LOTXB', 'LUACB', 'LUACD', 'LUACP',
       'LUACV', 'LUICB', 'LUICD', 'LUICP', 'LUICV', 'LUTCB', 'LUTCD',
       'LUTCP', 'LUTCV', 'LUTXB', 'LUTXD', 'LUTXP', 'LUTXV', 'MBICB',
       'MBICP', 'MGACB', 'MGACD', 'MGACP', 'MGACV', 'MGCCB', 'MGCCD',
       'MGCCP', 'MGCCV', 'MGICB', 'MGICD', 'MGICP', 'MGICV', 'MGTCB',
       'MGTCD', 'MGTCP', 'MGTCV', 'MGTXB', 'MGTXD', 'MGTXP', 'MGTXV',
       'MMTCB', 'MSICB', 'MSICD', 'MSICP', 'MSICV', 'NAICB', 'NAICP',
       'NGACB', 'NGACD', 'NGACP', 'NGACV', 'NGCCB', 'NGCCD', 'NGCCP',
       'NGCCV', 'NGEIB', 'NGEID', 'NGEIK', 'NGEIP', 'NGEIV', 'NGICB',
       'NGICD', 'NGICP', 'NGICV', 'NGISB', 'NGLPB', 'NGLPP', 'NGMPB',
       'NGMPK', 'NGMPP', 'NGPZB', 'NGPZP', 'NGRCB', 'NGRCD', 'NGRCP',
       'NGRCV', 'NGRFB', 'NGTCB', 'NGTCD', 'NGTCK', 'NGTCP', 'NGTCV',
       'NGTXB', 'NGTXD', 'NGTXK', 'NGTXP', 'NGTXV', 'NGVHB', 'NGVHP',
       'NNACB', 'NNCCB', 'NNEIB', 'NNICB', 'NNRCB', 'NNTCB', 'NUEGB',
       'NUEGD', 'NUEGP', 'NUEGV', 'NUETB', 'NUETD', 'NUETP', 'NUETV',
       'P1ICB', 'P1ICD', 'P1ICP', 'P1ICV', 'P1TCB', 'P1TCD', 'P1TCP',
       'P1TCV', 'P1TXB', 'P1TXD', 'P1TXP', 'P1TXV', 'P5RFB', 'PAACB',
       'PAACD', 'PAACP', 'PAACV', 'PACCB', 'PACCD', 'PACCP', 'PACCV',
       'PAEIB', 'PAEID', 'PAEIP', 'PAEIV', 'PAICB', 'PAICD', 'PAICP',
       'PAICV', 'PAPRB', 'PAPRP', 'PARCB', 'PARCD', 'PARCP', 'PARCV',
       'PATCB', 'PATCD', 'PATCP', 'PATCV', 'PATXB', 'PATXD', 'PATXP',
       'PATXV', 'PCCCB', 'PCCCD', 'PCCCP', 'PCCCV', 'PCEIB', 'PCEID',
       'PCEIP', 'PCEIV', 'PCICB', 'PCICD', 'PCICP', 'PCICV', 'PCISB',
       'PCRFB', 'PCTCB', 'PCTCD', 'PCTCP', 'PCTCV', 'PEACD', 'PEACV',
       'PECCD', 'PECCV', 'PEEID', 'PEEIV', 'PEICD', 'PEICV', 'PERCD',
       'PERCV', 'PETCD', 'PETCV', 'PETXD', 'PETXV', 'PLICB', 'PLICP',
       'PMTCB', 'POICB', 'POICD', 'POICP', 'POICV', 'POTCB', 'POTCD',
       'POTCP', 'POTCV', 'POTXB', 'POTXD', 'POTXP', 'POTXV', 'PPICB',
       'PPICP', 'REPRB', 'RETCB', 'RFACB', 'RFACD', 'RFACP', 'RFACV',
       'RFCCB', 'RFCCD', 'RFCCP', 'RFCCV', 'RFEIB', 'RFEID', 'RFEIP',
       'RFEIV', 'RFICB', 'RFICD', 'RFICP', 'RFICV', 'RFISB', 'RFRFB',
       'RFTCB', 'RFTCD', 'RFTCP', 'RFTCV', 'RFTXB', 'RFTXD', 'RFTXP',
       'RFTXV', 'ROPRB', 'SFCCB', 'SFEIB', 'SFINB', 'SFRCB', 'SFTCB',
       'SGICB', 'SGICP', 'SNICB', 'SNICD', 'SNICP', 'SNICV', 'SOEGB',
       'SOEGP', 'SOHCB', 'SOTCB', 'SOTXB', 'TEACB', 'TEACD', 'TEACV',
       'TECCB', 'TECCD', 'TECCV', 'TEEIB', 'TEGDS', 'TEICB', 'TEICD',
       'TEICV', 'TEPFB', 'TEPRB', 'TERCB', 'TERCD', 'TERCV', 'TERFB',
       'TETCB', 'TETCD', 'TETCV', 'TETGR', 'TETPB', 'TETPV', 'TETXB',
       'TETXD', 'TETXV', 'TNACB', 'TNCCB', 'TNICB', 'TNRCB', 'TNSCB',
       'TNTXB', 'TPOPP', 'UOICB', 'UOICP', 'USICB', 'USICP', 'WDCCB',
       'WDEIB', 'WDICB', 'WDRCB', 'WDRCD', 'WDRCP', 'WDRCV', 'WDRSB',
       'WDRXB', 'WSCCB', 'WSEIB', 'WSICB', 'WWCCB', 'WWCCD', 'WWCCV',
       'WWCSB', 'WWCXB', 'WWEIB', 'WWEID', 'WWEIV', 'WWICB', 'WWICD',
       'WWICV', 'WWISB', 'WWIXB', 'WWTCB', 'WWTCD', 'WWTCV', 'WWTXB',
       'WWTXD', 'WWTXV', 'WXICB', 'WXICD', 'WXICP', 'WXICV', 'WYEGB',
       'WYEGP', 'WYTCB'], dtype=object)

In [12]:
energy_data['StateCode'].unique()

array(['AZ', 'CA', 'NM', 'TX'], dtype=object)

In [13]:
AZ_data = energy_data[energy_data['StateCode'] == 'AZ']
CA_data = energy_data[energy_data['StateCode'] == 'CA']
NM_data = energy_data[energy_data['StateCode'] == 'NM']
TX_data = energy_data[energy_data['StateCode'] == 'TX']

In [14]:
AZ_data

          MSN StateCode  Year       Data
0       ABICB        AZ  1960    0.00000
1       ABICB        AZ  1961    0.00000
2       ABICB        AZ  1962    0.00000
3       ABICB        AZ  1963    0.00000
4       ABICB        AZ  1964    0.00000
5       ABICB        AZ  1965    0.00000
6       ABICB        AZ  1966    0.00000
7       ABICB        AZ  1967    0.00000
8       ABICB        AZ  1968    0.00000
9       ABICB        AZ  1969    0.00000
10      ABICB        AZ  1970    0.00000
11      ABICB        AZ  1971    0.00000
12      ABICB        AZ  1972    0.00000
13      ABICB        AZ  1973    0.00000
14      ABICB        AZ  1974    0.00000
15      ABICB        AZ  1975    0.00000
16      ABICB        AZ  1976    0.00000
17      ABICB        AZ  1977    0.00000
18      ABICB        AZ  1978    0.00000
19      ABICB        AZ  1979    0.00000
20      ABICB        AZ  1980    0.00000
21      ABICB        AZ  1981    1.28880
22      ABICB        AZ  1982    1.97998
23      ABICB        AZ  1983    0.00000
24      ABICB        AZ  1984    0.00000
25      ABICB        AZ  1985    0.00000
26      ABICB        AZ  1986    0.00000
27      ABICB        AZ  1987    0.00000
28      ABICB        AZ  1988    0.00000
29      ABICB        AZ  1989    0.06754
...       ...       ...   ...        ...
105564  WYTCB        AZ  1980    0.00000
105565  WYTCB        AZ  1981    0.00000
105566  WYTCB        AZ  1982    0.00000
105567  WYTCB        AZ  1983    0.00000
105568  WYTCB        AZ  1984    0.00000
105569  WYTCB        AZ  1985    0.00000
105570  WYTCB        AZ  1986    0.00000
105571  WYTCB        AZ  1987    0.00000
105572  WYTCB        AZ  1988    0.00000
105573  WYTCB        AZ  1989    0.00000
105574  WYTCB        AZ  1990    0.00000
105575  WYTCB        AZ  1991    0.00000
105576  WYTCB        AZ  1992    0.00000
105577  WYTCB        AZ  1993    0.00000
105578  WYTCB        AZ  1994    0.00000
105579  WYTCB        AZ  1995    0.00000
105580  WYTCB        AZ  1996    0.00000
105581  WYTCB        AZ  1997    0.00000
105582  WYTCB        AZ  1998    0.00000
105583  WYTCB        AZ  1999    0.00000
105584  WYTCB        AZ  2000    0.00000
105585  WYTCB        AZ  2001    0.00000
105586  WYTCB        AZ  2002    0.00000
105587  WYTCB        AZ  2003    0.00000
105588  WYTCB        AZ  2004    0.00000
105589  WYTCB        AZ  2005    0.00000
105590  WYTCB        AZ  2006    0.00000
105591  WYTCB        AZ  2007    0.00000
105592  WYTCB        AZ  2008    0.00000
105593  WYTCB        AZ  2009  288.35920

[26436 rows x 4 columns]

In [15]:
AZ_data_reformatted = pd.DataFrame(columns = variable_columns)
CA_data_reformatted = pd.DataFrame(columns = variable_columns)
NM_data_reformatted = pd.DataFrame(columns = variable_columns)
TX_data_reformatted = pd.DataFrame(columns = variable_columns)

In [19]:
for column in variable_columns:
    AZ_data_reformatted[column] = AZ_data[AZ_data['MSN'] == column]['Data']
    CA_data_reformatted[column] = CA_data[CA_data['MSN'] == column]['Data']
    NM_data_reformatted[column] = NM_data[NM_data['MSN'] == column]['Data']
    TX_data_reformatted[column] = TX_data[TX_data['MSN'] == column]['Data']

In [18]:
AZ_data_reformatted.head()

,ABICB,ABICP,ARICB,ARICD,ARICP,ARICV,ARTCB,ARTCD,ARTCP,ARTCV,...,WWTXB,WWTXD,WWTXV,WXICB,WXICD,WXICP,WXICV,WYEGB,WYEGP,WYTCB
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
AZ_data_reformatted['Year'] = AZ_data['Year'].unique()

In [21]:
AZ_data_reformatted.head()

,ABICB,ABICP,ARICB,ARICD,ARICP,ARICV,ARTCB,ARTCD,ARTCP,ARTCV,...,WWTXD,WWTXV,WXICB,WXICD,WXICP,WXICV,WYEGB,WYEGP,WYTCB,Year
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960
1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1961
2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1962
3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963
4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964